{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <input type="submit" class="btn btn-sm btn-outline-primary" id="inbox" value="Inbox" onclick="load_mailbox('inbox')"></input>
    <input type="submit" class="btn btn-sm btn-outline-primary" id="compose" value="Compose" onclick="compose_email()"></input>
    <input type="submit" class="btn btn-sm btn-outline-primary" id="sent" value="Sent" onclick="load_mailbox('sent')"></input>
    <input type="submit" class="btn btn-sm btn-outline-primary" id="archived" value="Archived" onclick="load_mailbox('archive')"></input>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>
	<input type="hidden" id="first" value="{{ first }}"></input>
	<h6 id="message"></h6>
	<div id="emails-view">
	</div>
	
	<form>
		<div id="email-view"></div>
	</form>
	
    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form" method=post>
		{% csrf_token %}
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" id="btn-submit" class="btn btn-primary" value="Send" onclick="send_mail()"></input>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}